{
  "openapi": "3.0.2",
  "info": {
    "title": "Privacy Hero 2 - Mothership API",
    "version": "0.1.8",
    "description": "The complete backend API for the Privacy Hero 2.\n\nThe backend server infrastructure is known as the *\"Mothership\"*\n\nThis API Documentation may be viewed at:\n  - [PrivacyHero2 API - Swagger UI](./index-swui.html)\n  - [PrivacyHero2 API - RapiDoc/PDF](./index-rapidoc.html)\n  - [Download API JSON](./API/PH2-API.oas3.json)\n\nThe Browser Extension API is maintained in a separate document and may be\nviewed at:\n  - [PrivacyHero2 Browser Extension API](./index-browser-extension.html)",
    "license": {
      "name": "Copyright © 2020 HelpOn Inc. All Rights Reserved",
      "url": "http://privacy-hero.github.io/ph2-apidocs/LICENSE.html"
    },
    "contact": {
      "name": "API Support (Steven Johnson)",
      "url": "http://www.example.com/support",
      "email": "sakurainds@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api2.privacyhero.com",
      "description": "The API deployment URL."
    },
    {
      "url": "https://dev-api2.privacyhero.com",
      "description": "API2 Dev Endpoint"
    },
    {
      "url": "https://qa-api2.privacyhero.com",
      "description": "API2 QA Endpoint"
    },
    {
      "url": "https://{awsid}.execute-api.{region}.amazonaws.com/{stage}",
      "description": "Development URL",
      "variables": {
        "awsid": {
          "default": "rsf12bcyml",
          "description": "The ID for your dev AWS deployment"
        },
        "region": {
          "enum": [
            "us-east-1",
            "us-east-2"
          ],
          "default": "us-east-1",
          "description": "Deployment Regions"
        },
        "stage": {
          "enum": [
            "dev",
            "qa",
            "prod",
            "sj-dev",
            "np-dev",
            "remote-dev"
          ],
          "default": "dev",
          "description": "Deployment Stages"
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "email-address": {
        "type": "string",
        "format": "email",
        "minLength": 6,
        "maxLength": 320,
        "pattern": "(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\\\x01-\\\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])",
        "example": "example@email.com",
        "description": "An email address"
      },
      "url-callback": {
        "type": "string",
        "format": "URL",
        "minLength": 1,
        "maxLength": 2000,
        "nullable": true,
        "pattern": "^[\\w.-]+:\\/\\/[\\w.-]+(\\/[\\w.-]+)*$",
        "description": "A URL, including relative references.  Will accept http/https and\nrelative urls.",
        "example": "ph2app://absolute.url"
      },
      "Ack": {
        "type": "object",
        "required": [
          "msg"
        ],
        "additionalProperties": false,
        "properties": {
          "msg": {
            "type": "string",
            "format": "Text Message",
            "nullable": true,
            "minLength": 0,
            "maxLength": 1024,
            "pattern": "^([\\w\\W])*$",
            "example": "OK."
          }
        }
      },
      "Nack": {
        "type": "object",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string",
            "format": "Text Message",
            "nullable": true,
            "minLength": 0,
            "maxLength": 1024,
            "pattern": "^([\\w\\W])*$",
            "example": "Unauthorized"
          }
        }
      },
      "GW_NegAuth": {
        "type": "object",
        "required": [
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "message": {
            "type": "string",
            "format": "Text Message",
            "nullable": true,
            "minLength": 0,
            "maxLength": 1024,
            "pattern": "^([\\w\\W])*$",
            "example": "User is not authorized to access this resource"
          }
        }
      },
      "GW_InternalError": {
        "type": "object",
        "required": [
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "message": {
            "type": "string",
            "format": "Text Message",
            "nullable": true,
            "minLength": 0,
            "maxLength": 1024,
            "pattern": "^([\\w\\W])*$",
            "example": null
          }
        }
      },
      "ph2-bearer-token": {
        "type": "string",
        "format": "JWT",
        "description": "Privacy Hero 2 API Bearer Token (Based on JWT)",
        "minLength": 64,
        "maxLength": 1024,
        "pattern": "^([A-Za-z0-9-_])+\\.([A-Za-z0-9-_])+(\\.[A-Za-z0-9-_]+)?$",
        "example": "AeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1MTYyMzkwMjJ9AB"
      },
      "epoch-timestamp": {
        "type": "integer",
        "format": "int64",
        "minimum": 1587732975,
        "maximum": 4743406575000,
        "nullable": true,
        "description": "A Time, expressed as seconds since Jan 01 1970. (UTC). **NULL** = unknown",
        "example": 1587732975
      },
      "password": {
        "type": "string",
        "format": "password",
        "minLength": 8,
        "maxLength": 64,
        "example": "my p455w0rd",
        "pattern": "^[ -~]*$"
      },
      "expchk": {
        "type": "boolean",
        "nullable": true,
        "default": false,
        "description": "**true**=Do not perform confirmation, just check if the token has not expired.<\\br>\n**null**/**false**=Perform confirmation normally."
      },
      "epoch-timestamp-nonull": {
        "type": "integer",
        "format": "int64",
        "minimum": 1587732975,
        "maximum": 4743406575000,
        "description": "A Time, expressed as seconds since Jan 01 1970. (UTC).",
        "example": 1587732975
      },
      "Authorized": {
        "type": "object",
        "description": "This response contains the clients credentials to use on subsequent API\ncalls relating to the client.  These credentials uniquely identify the\nclient and their account.\n\n  - **bearer**: The Client Authorization Bearer token required to be\n  sent in the **Authorization: Bearer** header of all API calls that are\n  called on behalf of the Client.\n  - **renew**: The Epoch Time, at which user access will expire with\n  this token. Renew before this time, for uninterrupted access.  Renewal\n  may occur up until **exp** time.\n  - **exp**: The Epoch Time, at which the token will completely expire\n  and may not be used for renewal.  After this time the user must\n  re-authenticate to get a new bearer token.\n  - **admin**: Present only when the logged in client is an admin user,\n  and set to True.  It is not present when Admin is logged in as a\n  client (impersonating the client).\n  - **impersonator**: Present only when this client is being\n  impersonated by an administrator. It is the email address of the admin\n  user performing the impersonation.  Note, in all other regards this\n  login is to be treated like a standard client login.",
        "required": [
          "bearer",
          "renew",
          "exp"
        ],
        "additionalProperties": false,
        "properties": {
          "bearer": {
            "$ref": "#/components/schemas/ph2-bearer-token"
          },
          "renew": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          },
          "exp": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          },
          "admin": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "**true**=The logged in user is an Admin user.\nIf not present, the client is a normal user.  This field is only\npresent and must be **true** IF the user is an Admin."
          },
          "impersonator": {
            "$ref": "#/components/schemas/email-address"
          }
        }
      },
      "NotExpired": {
        "type": "object",
        "description": "This response is sent if the request had expchk set to true, and the\ntoken expiry time has not yet passed.  The confirmation operation has\nnot been performed when this is returned, it is only an indication that\nit is likely to succeed and has not yet expired.\n\n  - **exp**: The Time the token expires.",
        "required": [
          "exp"
        ],
        "additionalProperties": false,
        "properties": {
          "exp": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          }
        }
      },
      "url": {
        "type": "string",
        "format": "URL",
        "minLength": 1,
        "maxLength": 2000,
        "nullable": true,
        "pattern": "^(?:(?:https:\\/\\/)|(?:\\./))?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$",
        "description": "A URL, including relative references.  Will only accept https or\nrelative urls.",
        "example": "./relative.url"
      },
      "uuid_optional": {
        "type": "string",
        "format": "UUID",
        "description": "Optional Unique Identifier, null = not set.",
        "maxLength": 36,
        "minLength": 36,
        "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$",
        "example": "bbfbaba3-1839-4ea3-b6b7-673238b15361",
        "nullable": true,
        "default": null
      },
      "uuid": {
        "type": "string",
        "format": "UUID",
        "description": "Unique Identifier",
        "maxLength": 36,
        "minLength": 36,
        "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$",
        "example": "cd73b915-89a4-4971-9d86-bce91786b12a"
      },
      "activation-code": {
        "type": "string",
        "pattern": "^....-....$",
        "minLength": 9,
        "maxLength": 9,
        "description": "Adapter/Router activation code. Note: pattern and length are\nplaceholders until the format is finalized.",
        "example": "????-????"
      },
      "mac": {
        "type": "string",
        "format": "EUI-48",
        "pattern": "^(([0-9a-fA-F]{2}-){5})|(([0-9a-fA-F]{2}-){5})([0-9a-fA-F]{2})$",
        "maxLength": 17,
        "minLength": 17,
        "description": "An EUI-48 formatted mac address.",
        "example": "00-00-5E-DF-98-EB"
      },
      "adapter-type": {
        "type": "string",
        "enum": [
          "Router-V1"
        ],
        "description": "The hardware type of the adapter/router."
      },
      "Adapter-Base": {
        "type": "object",
        "required": [
          "mac",
          "type",
          "desc"
        ],
        "additionalProperties": false,
        "properties": {
          "mac": {
            "$ref": "#/components/schemas/mac"
          },
          "type": {
            "$ref": "#/components/schemas/adapter-type"
          },
          "desc": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[\\S ]+$",
            "description": "A description of the hardware of the adapter/router.",
            "example": "Privacy Hero 2 - Router V1"
          }
        }
      },
      "Adapter-Unassociated": {
        "type": "object",
        "required": [
          "adapter",
          "since"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "adapter": {
            "$ref": "#/components/schemas/Adapter-Base"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "Adapter-Unassociated-Array": {
        "type": "array",
        "maxItems": 10,
        "items": {
          "$ref": "#/components/schemas/Adapter-Unassociated"
        }
      },
      "adapter-name": {
        "type": "string",
        "format": "text",
        "nullable": true,
        "description": "The name of an adapter.",
        "minLength": 0,
        "maxLength": 64,
        "pattern": "^[\\w\\d\\-\\. ()!]+$",
        "example": "Home Office Adapter"
      },
      "iana-timezone": {
        "type": "string",
        "format": "IANA Timezone",
        "description": "IANA Timezone name.",
        "minLength": 3,
        "maxLength": 44,
        "pattern": "^([A-Za-z-_]){1,14}\\/([A-Za-z-_]){1,14}(\\/([A-Za-z-_]){1,14})?$",
        "default": "Etc/UTC",
        "example": "America/Chicago"
      },
      "ip4": {
        "type": "string",
        "format": "IPv4 Address",
        "pattern": "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$",
        "minLength": 7,
        "maxLength": 15,
        "description": "An IP4 formatted IP Address",
        "example": "192.168.0.55"
      },
      "ip6": {
        "type": "string",
        "format": "IPv6 Address",
        "pattern": "^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$",
        "minLength": 3,
        "maxLength": 45,
        "description": "An IP6 formatted IP Address",
        "example": "2001:db8:85a3::8a2e:370:7334"
      },
      "state": {
        "type": "object",
        "required": [
          "state",
          "since"
        ],
        "additionalProperties": false,
        "properties": {
          "state": {
            "type": "boolean",
            "nullable": true,
            "description": "**true**=Active, **false**=Inactive, **null**=Unknown"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        },
        "description": "The current known value of the state, and the time that it changed."
      },
      "Adapter-Services": {
        "type": "object",
        "description": "The current state of the Adapter/Router services.",
        "additionalProperties": false,
        "required": [
          "online",
          "vpn",
          "adblocking",
          "malware",
          "upnp",
          "wps"
        ],
        "properties": {
          "online": {
            "$ref": "#/components/schemas/state"
          },
          "vpn": {
            "$ref": "#/components/schemas/state"
          },
          "adblocking": {
            "$ref": "#/components/schemas/state"
          },
          "malware": {
            "$ref": "#/components/schemas/state"
          },
          "upnp": {
            "$ref": "#/components/schemas/state"
          },
          "wps": {
            "$ref": "#/components/schemas/state"
          }
        }
      },
      "wifi-settings": {
        "type": "object",
        "description": "Settings for an individual wifi network",
        "required": [
          "enabled",
          "ssid",
          "key",
          "since"
        ],
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "is the wifi network enabled.",
            "default": true
          },
          "ssid": {
            "type": "string",
            "format": "ssid",
            "minLength": 1,
            "maxLength": 32,
            "pattern": "^[^!#;+\\]\\/\"\\t][^+\\]\\/\"\\t]{0,30}[^ !#;+\\]\\/\"\\t]$|^[^ !#;+\\]\\/\"\\t]$",
            "description": "The SSID of the wifi network",
            "default": "PrivacyHero2",
            "example": "PrivacyHero2"
          },
          "key": {
            "type": "string",
            "format": "WPA-PSK passphrase",
            "minLength": 8,
            "maxLength": 63,
            "pattern": "^[ -~]*$",
            "nullable": true,
            "default": "r4nd0m k3y",
            "example": "r4nd0m k3y",
            "description": "The WPA-PSK passphrase to secure the network. **null**=Open Wifi\nNetwork"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "datacap": {
        "type": "integer",
        "format": "uint64",
        "minimum": 0,
        "maximum": 1073741824,
        "description": "Data Cap in MegaBytes (1048576 bytes) per month. 0 = no data cap"
      },
      "datacap-reset": {
        "type": "integer",
        "format": "uint8",
        "minimum": 1,
        "maximum": 31,
        "description": "Day of the month, which the datacap resets at the start of."
      },
      "datacaps": {
        "type": "object",
        "description": "A per-month Data Cap and billing cycle.",
        "required": [
          "cap",
          "day"
        ],
        "additionalProperties": false,
        "properties": {
          "cap": {
            "$ref": "#/components/schemas/datacap"
          },
          "day": {
            "$ref": "#/components/schemas/datacap-reset"
          }
        },
        "example": {
          "cap": 0,
          "day": 14
        }
      },
      "Adapter": {
        "type": "object",
        "required": [
          "id",
          "hw",
          "name",
          "location",
          "timezone",
          "ip",
          "registered",
          "services",
          "settings"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "hw": {
            "$ref": "#/components/schemas/Adapter-Base"
          },
          "name": {
            "$ref": "#/components/schemas/adapter-name"
          },
          "timezone": {
            "$ref": "#/components/schemas/iana-timezone"
          },
          "ip": {
            "type": "object",
            "required": [
              "lan",
              "wan",
              "vpn"
            ],
            "description": "The current or last known IP addresses of the adapter/router.",
            "additionalProperties": false,
            "properties": {
              "lan": {
                "type": "object",
                "required": [
                  "ip4"
                ],
                "description": "The Local network IP addresses.",
                "additionalProperties": false,
                "properties": {
                  "ip4": {
                    "$ref": "#/components/schemas/ip4"
                  },
                  "ip6": {
                    "$ref": "#/components/schemas/ip6"
                  }
                }
              },
              "wan": {
                "type": "object",
                "required": [
                  "ip4"
                ],
                "description": "The ISP Native IP addresses.",
                "additionalProperties": false,
                "properties": {
                  "ip4": {
                    "$ref": "#/components/schemas/ip4"
                  },
                  "ip6": {
                    "$ref": "#/components/schemas/ip6"
                  }
                },
                "example": {
                  "ip4": "183.89.52.15"
                }
              },
              "vpn": {
                "type": "object",
                "required": [
                  "ip4"
                ],
                "description": "The VPN endpoint IP addresses.",
                "additionalProperties": false,
                "properties": {
                  "ip4": {
                    "$ref": "#/components/schemas/ip4"
                  },
                  "ip6": {
                    "$ref": "#/components/schemas/ip6"
                  }
                },
                "example": {
                  "ip4": "177.11.22.13",
                  "ip6": "2001:4860:4860::8844"
                }
              }
            }
          },
          "registered": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "services": {
            "$ref": "#/components/schemas/Adapter-Services"
          },
          "settings": {
            "type": "object",
            "description": "Adapter/Router Configuration",
            "required": [
              "wifi",
              "datacap"
            ],
            "additionalProperties": false,
            "properties": {
              "wifi": {
                "$ref": "#/components/schemas/wifi-settings"
              },
              "datacap": {
                "$ref": "#/components/schemas/datacaps"
              }
            }
          }
        }
      },
      "Adapters": {
        "type": "array",
        "maxItems": 10,
        "description": "An Array of Adapter Records.",
        "items": {
          "$ref": "#/components/schemas/Adapter"
        }
      },
      "adapter-services": {
        "type": "string",
        "enum": [
          "vpn",
          "adblocking",
          "streamrelocation",
          "malware",
          "upnp",
          "wps"
        ],
        "example": "vpn",
        "description": "A service running on the adapter."
      },
      "adapter-state": {
        "type": "boolean",
        "nullable": true,
        "default": true,
        "description": "**true**=Enable the Service. **false**=Disable the Service.\n**null**=No Change"
      },
      "Adapter-Settings": {
        "type": "object",
        "additionalProperties": false,
        "description": "The response to setting an adapter service.\n- **state** The services current state.\n- **since** The time the current state became set on the Adapter.\n- **pending** The requested state becomes valid when its \"since\" value\nequals or exceeds the returned **pending** time stamp.",
        "required": [
          "state",
          "since",
          "pending"
        ],
        "properties": {
          "state": {
            "type": "boolean",
            "description": "The current state of the requested service."
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          },
          "pending": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          }
        },
        "example": {
          "state": false,
          "since": 1589978803,
          "pending": 1590583603
        }
      },
      "wifi-settings-change": {
        "type": "object",
        "description": "Settings for an individual wifi network.\n\n- **id** Adapters id\n- **enabled** Is the wife enabled or not.\n- **ssid** Networks Wifi Name\n- **key** Networks password",
        "required": [
          "id",
          "enabled",
          "ssid",
          "key"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "enabled": {
            "type": "boolean",
            "description": "is the wifi network enabled.",
            "default": true
          },
          "ssid": {
            "type": "string",
            "format": "ssid",
            "minLength": 1,
            "maxLength": 32,
            "pattern": "^[^!#;+\\]\\/\"\\t][^+\\]\\/\"\\t]{0,30}[^ !#;+\\]\\/\"\\t]$|^[^ !#;+\\]\\/\"\\t]$",
            "description": "The SSID of the wifi network",
            "default": "PrivacyHero2",
            "example": "PrivacyHero2"
          },
          "key": {
            "type": "string",
            "format": "WPA-PSK passphrase",
            "minLength": 8,
            "maxLength": 63,
            "pattern": "^[ -~]*$",
            "nullable": true,
            "default": "r4nd0m k3y",
            "example": "r4nd0m k3y",
            "description": "The WPA-PSK passphrase to secure the network. **null**=Open Wifi\nNetwork"
          }
        }
      },
      "wifi-settings-change-queued": {
        "type": "object",
        "description": "Current Settings for an individual wifi network after a change was queued.\n\n- **enabled** Is the wifi enabled or not.\n- **ssid** Networks Wifi Name\n- **key** Networks password\n- **since** Timestamp of last change to the settings.\n- **pending** Current pending config state change timestamp.  When\n**since** equals or exceeds this value, the configuration has been\napplied.",
        "required": [
          "id",
          "enabled",
          "ssid",
          "key"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "enabled": {
            "type": "boolean",
            "description": "is the wifi network enabled.",
            "default": true
          },
          "ssid": {
            "type": "string",
            "format": "ssid",
            "minLength": 1,
            "maxLength": 32,
            "pattern": "^[^!#;+\\]\\/\"\\t][^+\\]\\/\"\\t]{0,30}[^ !#;+\\]\\/\"\\t]$|^[^ !#;+\\]\\/\"\\t]$",
            "description": "The SSID of the wifi network",
            "default": "PrivacyHero2",
            "example": "PrivacyHero2"
          },
          "key": {
            "type": "string",
            "format": "WPA-PSK passphrase",
            "minLength": 8,
            "maxLength": 63,
            "pattern": "^[ -~]*$",
            "nullable": true,
            "default": "r4nd0m k3y",
            "example": "r4nd0m k3y",
            "description": "The WPA-PSK passphrase to secure the network. **null**=Open Wifi\nNetwork"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "pending": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "health-days": {
        "type": "integer",
        "format": "int16",
        "minimum": 0,
        "maximum": 90,
        "default": 0,
        "example": 10,
        "description": "The number of days into the past to provide adapter health records for.\n1 is today, 90 is up to 90 days ago. 0 = The most recent result only\nfrom the WAN."
      },
      "latency-ms": {
        "type": "integer",
        "format": "uint16",
        "minimum": 0,
        "maximum": 65535,
        "nullable": true,
        "description": "Latency measured in milliseconds. **NULL** = Unknown."
      },
      "latency-percentage": {
        "type": "integer",
        "format": "uint16",
        "minimum": 0,
        "maximum": 10000,
        "nullable": true,
        "description": "Percentage of successful tests (*100). Eg. 9876 = 98.76%. **NULL** = Unknown."
      },
      "speed-bps": {
        "type": "integer",
        "format": "uint32",
        "minimum": 0,
        "maximum": 4294967295,
        "nullable": true,
        "description": "Bits per second speed result. **NULL** = Unknown."
      },
      "health-results": {
        "type": "object",
        "description": "Health result Records.\n* **timestamp** - The timestamp of the time the test was conducted.\n* **location-server** - The location of the server the test was\nconducted against.\n* **provider** - The ISP or Network operator who manages the server.\n* **distance** - The estimated distance to the test server (in miles).  A\nNegative number is to be represented as < (less than) this value.  A\npositive number is an estimated distance.\n* **latency** - The average latency (ping time) to the test URL.\n* **latency-completion** - The percentage of latency checks which\ncompleted successfully. (whole number, 85 = 85%, 100=100%)\n* **speed-rx** - Bits per second result of the Receive speed test.\n* **speed-tx** - Bits per second result of the Transmit speed test.\n* **connection** - The internet connection the speed test was\ncompleted on.\n* **quality** - This is the system derived synthetic \"QUALITY\" of the\nlink, which is derived from historical records of the adapters health.\n  * HIGH - The Link meets or exceeds historical precedence.\n  * POOR - The Link is no meeting historical precedence, and normally\n  does better.\n  * LOW - The Link is very low quality, and/or has failed all together.",
        "additionalProperties": false,
        "properties": {
          "timestamp": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "location-server": {
            "type": "string",
            "description": "The Location/Server the test was conducted against."
          },
          "provider": {
            "type": "string",
            "description": "The ISP/Network operator managing the server."
          },
          "distance": {
            "type": "integer",
            "description": "The estimated distance in miles between the client and\nthe test server.  The distance is expressed as \"Less than\" this\nvalue.  Eg, 50 = <50 miles."
          },
          "latency": {
            "$ref": "#/components/schemas/latency-ms"
          },
          "latency-completion": {
            "$ref": "#/components/schemas/latency-percentage"
          },
          "speed-rx": {
            "$ref": "#/components/schemas/speed-bps"
          },
          "speed-tx": {
            "$ref": "#/components/schemas/speed-bps"
          },
          "connection": {
            "type": "string",
            "enum": [
              "VPN",
              "WAN"
            ]
          },
          "quality": {
            "type": "string",
            "enum": [
              "HIGH",
              "POOR",
              "LOW"
            ]
          }
        }
      },
      "Adapter-Diags": {
        "type": "array",
        "maxItems": 1000,
        "description": "The diagnostic results of previous health checks.",
        "items": {
          "$ref": "#/components/schemas/health-results"
        }
      },
      "Adapter-Diag_Requested-Reply": {
        "type": "object",
        "additionalProperties": false,
        "description": "The response to requesting a diagnostic on the adapter.\n- **pending** The time which will be associated with the speed test\nresults for the requested test.  The test is complete when the results\nfor the last day contain this test timestamp.",
        "required": [
          "pending"
        ],
        "properties": {
          "pending": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          }
        },
        "example": {
          "pending": 1591887170
        }
      },
      "datausage-predictable": {
        "type": "integer",
        "format": "uint64",
        "minimum": -1000000000000000000,
        "maximum": 1000000000000000000,
        "description": "Data Usage in Bytes."
      },
      "Adapter-Usage-Record": {
        "type": "object",
        "description": "- **timestamp**: The start of the period.\n- **tx**: Number of bytes sent by the adapter in the period. (-ve value\nis predicted)\n- **rx**: Number of bytes received by the adapter in the period. (-ve value\nis predicted)",
        "required": [
          "timestamp",
          "tx",
          "rx"
        ],
        "additionalProperties": false,
        "properties": {
          "timestamp": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          },
          "tx": {
            "$ref": "#/components/schemas/datausage-predictable"
          },
          "rx": {
            "$ref": "#/components/schemas/datausage-predictable"
          }
        }
      },
      "Adapter-Usage-History": {
        "type": "array",
        "description": "Holds up to 90 days worth of hourly data usage records for the device.\nThe resolution of the items (daily or hourly) depends on the api call.",
        "minItems": 1,
        "maxItems": 2160,
        "items": {
          "$ref": "#/components/schemas/Adapter-Usage-Record"
        }
      },
      "iso3166-country": {
        "type": "string",
        "format": "ISO3166 Code",
        "example": "US",
        "enum": [
          "AF",
          "AX",
          "AL",
          "DZ",
          "AS",
          "AD",
          "AO",
          "AI",
          "AQ",
          "AG",
          "AR",
          "AM",
          "AW",
          "AU",
          "AT",
          "AZ",
          "BS",
          "BH",
          "BD",
          "BB",
          "BY",
          "BE",
          "BZ",
          "BJ",
          "BM",
          "BT",
          "BO",
          "BQ",
          "BA",
          "BW",
          "BV",
          "BR",
          "IO",
          "BN",
          "BG",
          "BF",
          "BI",
          "CV",
          "KH",
          "CM",
          "CA",
          "KY",
          "CF",
          "TD",
          "CL",
          "CN",
          "CX",
          "CC",
          "CO",
          "KM",
          "CG",
          "CD",
          "CK",
          "CR",
          "CI",
          "HR",
          "CU",
          "CW",
          "CY",
          "CZ",
          "DK",
          "DJ",
          "DM",
          "DO",
          "EC",
          "EG",
          "SV",
          "GQ",
          "ER",
          "EE",
          "SZ",
          "ET",
          "FK",
          "FO",
          "FJ",
          "FI",
          "FR",
          "GF",
          "PF",
          "TF",
          "GA",
          "GM",
          "GE",
          "DE",
          "GH",
          "GI",
          "GR",
          "GL",
          "GD",
          "GP",
          "GU",
          "GT",
          "GG",
          "GN",
          "GW",
          "GY",
          "HT",
          "HM",
          "VA",
          "HN",
          "HK",
          "HU",
          "IS",
          "IN",
          "ID",
          "IR",
          "IQ",
          "IE",
          "IM",
          "IL",
          "IT",
          "JM",
          "JP",
          "JE",
          "JO",
          "KZ",
          "KE",
          "KI",
          "KP",
          "KR",
          "KW",
          "KG",
          "LA",
          "LV",
          "LB",
          "LS",
          "LR",
          "LY",
          "LI",
          "LT",
          "LU",
          "MO",
          "MG",
          "MW",
          "MY",
          "MV",
          "ML",
          "MT",
          "MH",
          "MQ",
          "MR",
          "MU",
          "YT",
          "MX",
          "FM",
          "MD",
          "MC",
          "MN",
          "ME",
          "MS",
          "MA",
          "MZ",
          "MM",
          "NA",
          "NR",
          "NP",
          "NL",
          "NC",
          "NZ",
          "NI",
          "NE",
          "NG",
          "NU",
          "NF",
          "MK",
          "MP",
          "NO",
          "OM",
          "PK",
          "PW",
          "PS",
          "PA",
          "PG",
          "PY",
          "PE",
          "PH",
          "PN",
          "PL",
          "PT",
          "PR",
          "QA",
          "RE",
          "RO",
          "RU",
          "RW",
          "BL",
          "SH",
          "KN",
          "LC",
          "MF",
          "PM",
          "VC",
          "WS",
          "SM",
          "ST",
          "SA",
          "SN",
          "RS",
          "SC",
          "SL",
          "SG",
          "SX",
          "SK",
          "SI",
          "SB",
          "SO",
          "ZA",
          "GS",
          "SS",
          "ES",
          "LK",
          "SD",
          "SR",
          "SJ",
          "SE",
          "CH",
          "SY",
          "TW",
          "TJ",
          "TZ",
          "TH",
          "TL",
          "TG",
          "TK",
          "TO",
          "TT",
          "TN",
          "TR",
          "TM",
          "TC",
          "TV",
          "UG",
          "UA",
          "AE",
          "GB",
          "US",
          "UM",
          "UY",
          "UZ",
          "VU",
          "VE",
          "VN",
          "VG",
          "VI",
          "WF",
          "EH",
          "YE",
          "ZM",
          "ZW"
        ],
        "description": "an ISO3166 country code"
      },
      "streams": {
        "type": "array",
        "maxItems": 1000,
        "description": "List of streaming services",
        "items": {
          "type": "object",
          "description": "Streaming Services",
          "required": [
            "id",
            "name",
            "countries",
            "portable"
          ],
          "additionalProperties": false,
          "properties": {
            "id": {
              "$ref": "#/components/schemas/uuid"
            },
            "name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "^[\\S ]+$",
              "description": "Name of the streaming service",
              "example": "Netflix"
            },
            "icon": {
              "$ref": "#/components/schemas/url"
            },
            "portable": {
              "type": "boolean",
              "description": "Is the service subscription able to be used in multiple countries?",
              "default": true
            },
            "subscription": {
              "type": "string",
              "enum": [
                "free",
                "paid",
                "cable"
              ],
              "default": "paid",
              "description": "Defines if the service is free, requires a paid subscription or\ncomes bundled with a cable subscription.  Currently this field is\nunimplemented and is **OPTIONAL**.  The Front end should ignore it\nif it receives it.  This is defined here to allow for a future\nfeature upgrade that will use this field.  The front end\naccepting, but ignoring the field allows the backend to implement\nthe function prior to any necessary front end changes, and still\nallow the system to work unimpeded."
            },
            "countries": {
              "type": "object",
              "description": "List of all countries streaming service is available in.\n\n**proxy** countries may be used to proxy a stream to appear as if\nthe stream is being watched in that country.\n\n**non-proxy** are countries where the streaming service is\navailable but for which no proxy exists.  These can only be\nused if the Adapter is located in that country.",
              "additionalProperties": false,
              "properties": {
                "proxy": {
                  "type": "array",
                  "description": "List of countries which can be proxied.",
                  "maxItems": 256,
                  "items": {
                    "$ref": "#/components/schemas/iso3166-country"
                  }
                },
                "non-proxy": {
                  "type": "array",
                  "maxItems": 256,
                  "description": "List of countries which can not be proxied.",
                  "items": {
                    "$ref": "#/components/schemas/iso3166-country"
                  }
                }
              }
            }
          }
        }
      },
      "stream-settings": {
        "type": "object",
        "description": "**Streaming Services Settings**\n\nThe **subscription** field is OPTIONAL, it defines the country the\nclient holds their cubscription for.  It is not currently implemented in\nthe backend, but the front end can send it, and the backend will store\nit.  IF a **subscription** has been set for a stream, the value will be\nin the retrieval of the configuration, or the reply.  Otherwise it will\nbe omitted.",
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "country": {
            "$ref": "#/components/schemas/iso3166-country"
          },
          "subscription": {
            "$ref": "#/components/schemas/iso3166-country"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "streams-settings": {
        "type": "array",
        "maxItems": 1000,
        "description": "Settings for streaming services on an Adapter.",
        "items": {
          "$ref": "#/components/schemas/stream-settings"
        }
      },
      "stream-setting-queued": {
        "type": "object",
        "description": "Streaming Services Settings Queued for update",
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "adapter": {
            "$ref": "#/components/schemas/uuid"
          },
          "country": {
            "$ref": "#/components/schemas/iso3166-country"
          },
          "subscription": {
            "$ref": "#/components/schemas/iso3166-country"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "pending": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "profile-name": {
        "type": "string",
        "format": "text",
        "nullable": true,
        "description": "The name of the profile.",
        "minLength": 0,
        "maxLength": 64,
        "pattern": "^[\\w\\W]+$",
        "example": "Shared"
      },
      "time-of-day-mins": {
        "type": "integer",
        "format": "int16",
        "minimum": -1,
        "maximum": 1439,
        "default": -1,
        "description": "An absolute time of the day in minutes, where 0 = midnight.  The value\n-1 means no time of day is set."
      },
      "school-nights": {
        "type": "array",
        "minItems": 7,
        "maxItems": 7,
        "description": "This is a list of school nights for the week.  The first element is always\nMONDAY. The second is TUESDAY, and so on, until SUNDAY (the seventh\nitem).  This selects the nights when a \"school night\" bedtime schedule\nwill be used, or an \"other night\" schedule.",
        "items": {
          "type": "boolean"
        },
        "default": [
          true,
          true,
          true,
          true,
          false,
          false,
          true
        ],
        "example": [
          true,
          true,
          true,
          true,
          false,
          false,
          true
        ]
      },
      "Bedtimes": {
        "description": "The definition of bedtimes for a profile.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "If the bedtime function is enabled or not."
          },
          "school": {
            "$ref": "#/components/schemas/time-of-day-mins"
          },
          "other": {
            "$ref": "#/components/schemas/time-of-day-mins"
          },
          "school-nights": {
            "$ref": "#/components/schemas/school-nights"
          }
        }
      },
      "time-delay": {
        "type": "integer",
        "format": "int16",
        "minimum": -360,
        "maximum": 360,
        "default": 0,
        "description": "A time delay, where 0 = no delay. In Minutes. The delay may be +/- 6\nhours.  A negative delay will cause the bedtime to occur earlier and a\npositive delay later.",
        "example": -30
      },
      "ProfileSettings": {
        "description": "The settings for a profile.\n- **youtube-restricted**: If youtube is restricted or normal.\n- **safesearch**: If search engines are forced to return safe results.\n- **internet-pause**: Internet will be paused until this time passes. If\n  the value is -1, internet is paused indefinitely, if it is 0, internet\n  is unpaused.\n- **adult-block**: If adult content is blocked or not.\n- **bedtime**: A list of bedtimes, one for each day of a week.\n- **bedtime-delay**: A once off delay for the current days bedtime\nstart.  Note, this does not change bedtime end.  This will automatically\nbe reset back to zero when bedtime ends.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "youtube-restricted": {
            "type": "boolean",
            "default": false,
            "description": "If Youtube is restricted for all devices in this profile."
          },
          "safesearch": {
            "type": "boolean",
            "default": false,
            "description": "If search providers are forced to safe search."
          },
          "adult-block": {
            "type": "boolean",
            "default": false,
            "description": "If adult content is blocked or not."
          },
          "internet-pause": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "bedtime": {
            "$ref": "#/components/schemas/Bedtimes"
          },
          "bedtime-delay": {
            "$ref": "#/components/schemas/time-delay"
          }
        }
      },
      "Profile": {
        "description": "A device settings profile.  Profiles define common settings for all\nassociated devices.\n\n- **id**: The profiles unique id.\n- **adapter**: The unique id of the adapter the profile belongs to.\n- **name**: The descriptive name of the profile.\n- **icon**: An identifier for the icon.\n- **system**: Is this a system profile?  If so, can not be edited or\ndeleted.\n- **settings**: Current state of settings for the profile.\n- **since**: Latest update timestamp of the **settings**.  Note, updates\nto **name** and **icon** do NOT update **since**",
        "type": "object",
        "required": [
          "id",
          "adapter",
          "name",
          "since"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "adapter": {
            "$ref": "#/components/schemas/uuid"
          },
          "name": {
            "$ref": "#/components/schemas/profile-name"
          },
          "icon": {
            "$ref": "#/components/schemas/url"
          },
          "system": {
            "type": "boolean",
            "default": false,
            "description": "System profiles are fixed by the system.  They may not be modified,\nrenamed or deleted.  Devices may be freely associated with them."
          },
          "settings": {
            "$ref": "#/components/schemas/ProfileSettings"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "Profiles": {
        "description": "An array of known profiles",
        "type": "array",
        "minItems": 1,
        "maxItems": 100,
        "items": {
          "$ref": "#/components/schemas/Profile"
        }
      },
      "ProfileCfgPending": {
        "description": "A device settings profile.  Profiles define common settings for all\nassociated devices.\n\n- **id**: The profiles unique id.\n- **adapter**: The unique id of the adapter the profile belongs to.\n- **name**: The descriptive name of the profile.\n- **icon**: An identifier for the icon.\n- **system**: Is this a system profile?  If so, can not be edited or\ndeleted.\n- **settings**: Current state of settings for the profile.\n- **since**: Latest update timestamp of the **settings**.  Note, updates\nto **name** and **icon** do NOT update **since**\n- **pending**: The timestamp at (or after) which the requested cfg\nchange has been applied.",
        "type": "object",
        "required": [
          "id",
          "adapter",
          "name",
          "since",
          "pending"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "adapter": {
            "$ref": "#/components/schemas/uuid"
          },
          "name": {
            "$ref": "#/components/schemas/profile-name"
          },
          "icon": {
            "$ref": "#/components/schemas/url"
          },
          "system": {
            "type": "boolean",
            "default": false,
            "description": "System profiles are fixed by the system.  They may not be modified,\nrenamed or deleted.  Devices may be freely associated with them."
          },
          "settings": {
            "$ref": "#/components/schemas/ProfileSettings"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "pending": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        }
      },
      "datausage": {
        "type": "integer",
        "format": "uint64",
        "minimum": 0,
        "maximum": 1000000000000000000,
        "description": "Data Usage in Bytes."
      },
      "DeviceUsageRecord": {
        "type": "object",
        "description": "- **timestamp**: The start of the period.\n- **tx**: Number of bytes sent by the device in the period.\n- **rx**: Number of bytes received by the device in the period.",
        "required": [
          "timestamp",
          "tx",
          "rx"
        ],
        "additionalProperties": false,
        "properties": {
          "timestamp": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          },
          "tx": {
            "$ref": "#/components/schemas/datausage"
          },
          "rx": {
            "$ref": "#/components/schemas/datausage"
          }
        }
      },
      "DeviceUsageHistory": {
        "type": "array",
        "description": "Holds up to 90 days worth of hourly data usage records for the device.\nThe resolution of the items (daily or hourly) depends on the api call.",
        "minItems": 1,
        "maxItems": 2160,
        "items": {
          "$ref": "#/components/schemas/DeviceUsageRecord"
        }
      },
      "device-name": {
        "type": "string",
        "format": "text",
        "nullable": true,
        "description": "The name of the device.",
        "minLength": 0,
        "maxLength": 64,
        "pattern": "^[\\w\\W]+$",
        "example": "Granpa's Nokia"
      },
      "device-type": {
        "type": "string",
        "format": "text",
        "nullable": true,
        "description": "The type of the device.",
        "minLength": 0,
        "maxLength": 64,
        "pattern": "^[\\w\\W]+$",
        "example": "Smart Watch"
      },
      "DeviceIP": {
        "type": "object",
        "required": [
          "ip4"
        ],
        "additionalProperties": false,
        "properties": {
          "ip4": {
            "$ref": "#/components/schemas/ip4"
          },
          "ip6": {
            "$ref": "#/components/schemas/ip6"
          }
        }
      },
      "epoch-timestamp-pause": {
        "type": "integer",
        "format": "int64",
        "minimum": -1,
        "maximum": 4743406575000,
        "description": "A Time, expressed as seconds since Jan 01 1970. (UTC). -1 = Indefinite unpause",
        "example": 1587732975
      },
      "time-state": {
        "type": "object",
        "required": [
          "state",
          "since"
        ],
        "additionalProperties": false,
        "properties": {
          "state": {
            "$ref": "#/components/schemas/epoch-timestamp-pause"
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          }
        },
        "description": "The current known value of the state, and the time that it changed."
      },
      "DeviceConfig": {
        "type": "object",
        "required": [
          "vpn",
          "device-protection",
          "adblocking"
        ],
        "additionalProperties": false,
        "description": "- **vpn**: Enabled or Not.\n- **adblocking**: Enabled or Not.\n- **device-protection**: Enabled or not.\n- **internet-pause**: Internet will be paused until this time passes. If\n  the value is -1, internet is paused indefinitely.  If it is 0,\n  internet is Un-paused.",
        "properties": {
          "vpn": {
            "$ref": "#/components/schemas/state"
          },
          "adblocking": {
            "$ref": "#/components/schemas/state"
          },
          "device-protection": {
            "$ref": "#/components/schemas/state"
          },
          "internet-pause": {
            "$ref": "#/components/schemas/time-state"
          }
        }
      },
      "Device": {
        "type": "object",
        "required": [
          "id",
          "adapter",
          "profile",
          "mac"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "adapter": {
            "$ref": "#/components/schemas/uuid"
          },
          "profile": {
            "$ref": "#/components/schemas/uuid"
          },
          "mac": {
            "$ref": "#/components/schemas/mac"
          },
          "name": {
            "$ref": "#/components/schemas/device-name"
          },
          "type": {
            "$ref": "#/components/schemas/device-type"
          },
          "manufacturer": {
            "$ref": "#/components/schemas/device-name"
          },
          "ip": {
            "$ref": "#/components/schemas/DeviceIP"
          },
          "online": {
            "type": "boolean",
            "default": true
          },
          "online_since": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "discovered": {
            "$ref": "#/components/schemas/epoch-timestamp"
          },
          "cfg": {
            "$ref": "#/components/schemas/DeviceConfig"
          }
        },
        "example": {
          "id": "e22cfd99-44e5-4c93-8cad-3185c623cc25",
          "adapter": "cd73b915-89a4-4971-9d86-bce91786b12a",
          "profile": "66f7346a-48af-4614-bd7b-6c17093d75e3",
          "mac": "00-00-5E-DF-98-EB",
          "name": "Nokia N78",
          "type": "Smartphone",
          "manufacturer": "Nokia",
          "ip": {
            "ip4": "192.168.0.55",
            "ip6": "2001:db8:85a3::8a2e:370:7334"
          },
          "online": true,
          "online_since": 1587732975,
          "discovered": 1587732975,
          "cfg": {
            "vpn": {
              "state": false,
              "since": 1587732975
            },
            "adblocking": {
              "state": false,
              "since": 1587732975
            },
            "device-protection": {
              "state": false,
              "since": 1587732975
            },
            "internet-pause": {
              "state": 0,
              "since": 1587732975
            }
          }
        }
      },
      "Devices": {
        "description": "An array of known devices",
        "type": "array",
        "minItems": 0,
        "maxItems": 512,
        "items": {
          "$ref": "#/components/schemas/Device"
        }
      },
      "DeviceSetBooleanCfg": {
        "type": "object",
        "required": [
          "id",
          "service",
          "setting"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "service": {
            "type": "string",
            "enum": [
              "vpn",
              "adblocking",
              "device-protection"
            ]
          },
          "setting": {
            "type": "boolean"
          }
        }
      },
      "DeviceSetPauseCfg": {
        "type": "object",
        "required": [
          "id",
          "service",
          "setting"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/uuid"
          },
          "service": {
            "type": "string",
            "enum": [
              "Internet-Pause"
            ]
          },
          "setting": {
            "$ref": "#/components/schemas/epoch-timestamp-pause"
          }
        }
      },
      "Device-Settings-Reply": {
        "type": "object",
        "additionalProperties": false,
        "description": "The response to setting an device service setting.\n- **state** The services current state.\n- **since** The time the current state became set for the device.\n- **pending** The requested state becomes valid when its\n**since** time stamp value equals or exceeds the returned **pending**\ntime stamp.",
        "required": [
          "state",
          "since",
          "pending"
        ],
        "properties": {
          "state": {
            "type": "boolean",
            "description": "The current state of the requested service."
          },
          "since": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          },
          "pending": {
            "$ref": "#/components/schemas/epoch-timestamp-nonull"
          }
        },
        "example": {
          "state": false,
          "since": 1589978803,
          "pending": 1590583603
        }
      },
      "device-group": {
        "type": "string",
        "format": "text",
        "nullable": true,
        "description": "The device type group.",
        "minLength": 0,
        "maxLength": 64,
        "pattern": "^[\\w\\W]+$",
        "example": "Mobile"
      },
      "Device_Type": {
        "type": "object",
        "required": [
          "name",
          "icon",
          "group"
        ],
        "additionalProperties": false,
        "properties": {
          "name": {
            "$ref": "#/components/schemas/device-type"
          },
          "icon": {
            "$ref": "#/components/schemas/url"
          },
          "group": {
            "$ref": "#/components/schemas/device-group"
          }
        }
      },
      "Device_Types": {
        "description": "An array of known device types",
        "type": "array",
        "minItems": 1,
        "maxItems": 512,
        "items": {
          "$ref": "#/components/schemas/Device_Type"
        }
      }
    },
    "securitySchemes": {
      "jwtToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "x-42c-no-authentication": true,
        "description": "Pre-distributed API Keys or Client Authorization Token, as generated by this API.\n- See the **Account Management** section for details.\n\n## Format\nTokens are all JWT formatted, however, they are compressed and only\ncontain 2 fields, instead of the typical 3.  They are not intended to be\ndecoded outside of the authorization of this API.\n\n## API Keys\nDuring initial contact attempts apps will require pre-distributed API\nKeys to access the API.  They can only be used for select API Calls, as\nspecified in the API, and ONLY for pre-authorization type functions,\nwhere a client does not yet have a system generated Bearer Token.  In\neither case the token is sent as a Bearer token in the Authorization\nheader of the message.\n\n  - This key is distributed to authorized app developers and uniquely\n    identifies the application.\n  - API Keys **MUST NOT** be shared between end user applications.\n  - Each end user application **MUST** use a unique key.\n\n### Example Keys (only valid for development)\n- **WEB APP**: AOiI2NTY4YTRkNy05MGFjLTQzMjQtYjJlOC04YWVlYzRkNmIxNWMiLCJleHAiOjM2MDAsInJiZiI6NzIwMCwic3ViIjoiZGV2IHdlYiBhcHAifQ.jys7vsUg4D3zX7zrJ_LHjgsz0r6nPbn9VXgt_3aS4F4\n- **IOS APP**: aOiI2NTY4YTRkNy05MGFjLTQzMjQtYjJlOC04YWVlYzRkNmIxNWMiLCJleHAiOjMxNTM2MDAwMCwicmJmIjozNDY4OTYwMDAsInN1YiI6ImRldiBpb3MgYXBwIn0.pa7AgQDr6lvTbwYkFwEM7ceVD09quum5dmxNuD-RJr8\n- **Android**: aOiI2NTY4YTRkNy05MGFjLTQzMjQtYjJlOC04YWVlYzRkNmIxNWMiLCJleHAiOjYzMDcyMDAwLCJyYmYiOjk0NjA4MDAwLCJzdWIiOiJkZXYgYW5kcm9pZCBhcHAifQ.Z_crn9q4se2BlGfLrV7zkEf5nlIF6_TbfCo4_ct3xfE"
      }
    },
    "responses": {
      "401": {
        "description": "The Clients Bearer Token is invalid or not recognized.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Invalid Credentials."
            }
          }
        },
        "headers": {
          "WWW-Authenticate": {
            "schema": {
              "type": "string",
              "enum": [
                "Bearer realm=api2.privacyhero.com"
              ],
              "default": "Bearer realm=api2.privacyhero.com",
              "example": "Bearer realm=api2.privacyhero.com",
              "description": "indicates the authentication scheme(s) and parameters\napplicable to the target resource."
            }
          }
        }
      },
      "403": {
        "description": "Invalid Client Token, could not authorize api access.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GW_NegAuth"
            }
          }
        }
      },
      "404": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Not Found"
            }
          }
        }
      },
      "410": {
        "description": "Gone - The Verification Token has expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Account Update Token has expired."
            }
          }
        }
      },
      "415": {
        "description": "Unsupported Media Type",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Unsupported Media Type"
            }
          }
        }
      },
      "429": {
        "description": "Too many requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Too many requests"
            }
          }
        }
      },
      "500": {
        "description": "An Internal server error occurred.  Operation failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GW_InternalError"
            }
          }
        }
      },
      "555": {
        "description": "Router Offline, Asynch operation to router not completed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Router Offline"
            }
          }
        }
      },
      "401-appKey": {
        "description": "The appKey API Key is not recognized.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Invalid API Key."
            }
          }
        },
        "headers": {
          "WWW-Authenticate": {
            "schema": {
              "type": "string",
              "enum": [
                "X-API-KEY realm=api2.privacyhero.com"
              ],
              "default": "X-API-KEY realm=api2.privacyhero.com",
              "example": "X-API-KEY realm=api2.privacyhero.com",
              "description": "Indicates that the applications API Key was not authorized to\naccess this API."
            }
          }
        }
      },
      "403-appKey": {
        "description": "The appKey API Key does not have authority to access the API.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GW_NegAuth"
            },
            "examples": {
              "explicit-deny": {
                "description": "The Authorization check explicitly denied access based on the\nappKey provided.  Get a new appKey.",
                "value": {
                  "message": "User is not authorized to access this resource with an explicit deny"
                }
              }
            }
          }
        }
      },
      "default": {
        "description": "Unspecified Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Nack"
            },
            "example": {
              "error": "Unspecified Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "jwtToken": []
    }
  ],
  "tags": [
    {
      "name": "Admin Management",
      "description": "Operations related to Admin Management"
    },
    {
      "name": "Account Management",
      "description": "Operations related to Account Creation and Management"
    },
    {
      "name": "Client Management",
      "description": "Operations related to the Client"
    },
    {
      "name": "Adapter Management",
      "description": "Operations related to Adapter Management"
    },
    {
      "name": "Profile Management",
      "description": "Operations related to Profile Management"
    },
    {
      "name": "Device Management",
      "description": "Operations related to Device Management"
    },
    {
      "name": "Streaming Relocation Management",
      "description": "Operations related to Streaming Services and Relocation"
    }
  ],
  "paths": {
    "/v1/auth/newcustomer": {
      "post": {
        "operationId": "authNewCustomer",
        "tags": [
          "Account Management"
        ],
        "summary": "Request New Customer/Forgotten Password/Passwordless Re-authentication",
        "description": "# Usage\n\nIf the email address supplied in the message is not registered in the\nsystem, then this message is processed as a \"New Customer\nRegistration\". Overwise this messages is processed\nas an \"Existing Customer forgot password\"/\"Existing Customer needs\npasswordless reauthentication\" request.\n\nThe ONLY difference in the processing is the form of the email which is\nsent to the customer.  Either acknowledging their request for a new\naccount, OR acknowledging their request to change their password.\n\nUpon receipt of this message, an email will be sent to the supplied\nemail address.  It will contain instructions to click a provided link in\nthe message which will act as a callback to the initiating application.\n\nThe URL passed as the callback must be able to accept two parameter in\nthe url of the form:\n```\ncallback.url/path?verify=<token>&exp=<time>\n```\n - **verify** is the verification token to be sent back to the API server by\nthe app on the **/v1/auth/confirmcustomer** call.\n - **exp** specifies when the verification token will expire.  Any call to\n**/v1/auth/confirmcustomer**` after this time will fail.\n\nUpon receipt of the callback, if the application uses passwords, it\nshould prompt for a new password, and then send that in the\n`confirmcustomer` message.  Otherwise, the app should just immediately\nsend the `confirmcustomer` message to the backend, which will then\nprovide authentication tokens allowing the application/client access to\nthe rest of the API.\n\n## Security Requirements\n  The Authorization Bearer token sent to authenticate for this message\n  is the Application unique and pre-distributed App Token.\n\n## Parameters\n  - **email**: The email address the customer wants the Account email to be\ndirected to.\n  - **callback**: The complete URL, minus parameters, which is embedded in the email sent\nto the customer to confirm their account creation. It must point to the\napp which instigated this request.\n\n## Message Flow Diagrams\n\n  - See: [New Customer Message Flow](./API/flows/NewCustomer-Flow.html)\n  - See: [Forgot Password Message Flow](./API/flows/ForgotPassword-Flow.html)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "callback"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "$ref": "#/components/schemas/email-address"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/url-callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was accepted, and an email was sent to the\nusers provided email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                },
                "example": {
                  "msg": "Email sent to customer, OK."
                }
              }
            }
          },
          "400": {
            "description": "General Request processing error.  Possible errors are:\n* `\"Internal Server Error.\"` - Fatal uncategorized error in server.\n* `\"Required Parameters missing or malformed.\"` - JSON Message Body Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Internal Server Error."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-appKey"
          },
          "403": {
            "$ref": "#/components/responses/403-appKey"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/callback/path": {
      "get": {
        "operationId": "appCallback",
        "tags": [
          "Account Management"
        ],
        "summary": "Callback to App that requested a New Customer.",
        "description": "# Usage\nThis is the format of the callback that will be presented to the\ncustomer in their confirmation email.\n\nIt is linked to the instigating App, so that the App can continue\nthe process of creating the new account, resetting the password,\nre-establishing credentials, etc .\n\n## Security Requirements\n\nThere are no specific security requirements.  However the token is\ncryptographically signed, and only valid for the specified duration.\nThe application only needs to check the duration in the call, the API\nserver will verify the token remains valid and is properly formed when\nthe token is presented.\n\n## Parameters\n - **verify** is the verification token to be sent back to the API server by\n    the app on the **/v1/auth/confirmcustomer** call.\n - **pwd** specifies that a confirmation password must be prompted from\n    the Client, and supplied to the API in the **/v1/auth/confirmcustomer**\n    call.\n - **exp** specifies when the verification token will expire.  Any call\n    to **/v1/auth/confirmcustomer**` after this time will fail.",
        "servers": [
          {
            "url": "ph2app://android.app/some/path",
            "description": "The link which can open the app which called\n**v1//auth/newcustomer**, etc."
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "verify",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ph2-bearer-token"
            },
            "description": "The New Customer confirmation token.",
            "example": "AeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1MTYyMzkwMjJ9AB"
          },
          {
            "in": "query",
            "name": "exp",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/epoch-timestamp"
            },
            "description": "The Time, after which the verification token will become invalid.",
            "example": 1587759975
          },
          {
            "in": "query",
            "name": "pwd",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": false
            },
            "description": "If true, the user must be prompted to create a password and the\npassword must be sent in the `confirmcustomer` API call.\nIf it is not present, it defaults to `true`"
          }
        ],
        "security": [],
        "x-42c-no-authentication": true,
        "responses": {
          "200": {
            "description": "The message was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          },
          "400": {
            "description": "The token expired before the link was used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/auth/confirmcustomer": {
      "post": {
        "operationId": "confirmCustomer",
        "tags": [
          "Account Management"
        ],
        "summary": "Confirm the Customer Account Maintenance Request",
        "description": "# Usage\nConfirms creation of the new account for a Customer, via the back link\nprovided by the email to the customer.\n\n## Security Requirements\n  The Authorization Bearer token sent to authenticate for this message\n  is the Application unique and pre-distributed App Token.\n\n## Parameters\n  - **verify**: The token passed to the callback which invoked this API\n  call.\n  - **pwd**: The clients chosen password.  This should only be provided\n  if the callback specified that a password was required.\n  - **expchk**: Token Expiry Check.  Will not execute the confirmation,\n  instead will reply with a 202 IF the operation would have succeeded.\n  The backend will not do any updates if expchk is set, so, for\n  confirmations that require a password, the **pwd** field should be set\n  with a valid placeholder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verify"
                ],
                "additionalProperties": false,
                "properties": {
                  "verify": {
                    "$ref": "#/components/schemas/ph2-bearer-token"
                  },
                  "pwd": {
                    "$ref": "#/components/schemas/password"
                  },
                  "expchk": {
                    "$ref": "#/components/schemas/expchk"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was accepted, and the account has been created/modified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorized"
                }
              }
            }
          },
          "202": {
            "description": "The token has not expired.  Only replied to if **expchk** is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotExpired"
                }
              }
            }
          },
          "400": {
            "description": "General Request processing error.  Possible errors are:\n* `\"Internal Server Error.\"` - Fatal uncategorized error in server.\n* `\"Required Parameters missing or malformed.\"` - JSON Message Body Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Internal Server Error."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-appKey"
          },
          "403": {
            "$ref": "#/components/responses/403-appKey"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "operationId": "login",
        "tags": [
          "Account Management"
        ],
        "summary": "Log a Client in to their account.",
        "description": "# Usage\nLogs a client/admin in to their account, by validating their credentials\nand returning a Bearer token for API access.  Can also be used by an\nadmin to impersonate the login of a client.\n\nThis API call is only made for applications that use a password for\nauthorization validation.  Other applications need to do account\nrecovery if the access token is lost or expired.\n\n## Security Requirements\n  For a normal client/admin login, the Authorization Bearer token sent\n  to authenticate for this message is the Application unique and\n  pre-distributed App Token.\n\n  However, if the client is an Admin user, this message can be called to\n  impersonate a non admin client.  In this case the Authorization Bearer\n  token must be the Admins Authorization Bearer token AND the password\n  in the message must be the Administrators password.\n\n## Parameters\n  - **id**: The clients ID,  different clients will present different ID.\n    - Customer: Their email address\n    - Admin: Their email address\n    - Impersonation: The email address of the client the administrator\n    wishes to impersonate.\n  - **pwd**: The shared secret used to identify the client.  This is the\n  Clients or Administrators password.  However, in the case of\n  Impersonation, this password MUST be the administrators password and\n  it must match the administrator identified by their Authorization\n  Bearer Token.  It is sent unencrypted/unhashed because the link is\n  protected from eaves dropping with https.  Admins can ONLY log in\n  through this call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "id",
                  "pwd"
                ],
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/email-address"
                  },
                  "pwd": {
                    "$ref": "#/components/schemas/password"
                  }
                }
              },
              "examples": {
                "client": {
                  "value": {
                    "id": "client@email.com",
                    "pwd": "123456789"
                  },
                  "description": "An Example Client login"
                },
                "admin": {
                  "value": {
                    "id": "admin@privacyhero.com",
                    "pwd": "iNBi5tRE"
                  },
                  "description": "An Example Admin login"
                },
                "impersonation": {
                  "value": {
                    "id": "client@email.com",
                    "pwd": "iNBi5tRE"
                  },
                  "description": "An Example Impersonated login"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was accepted, and the account has been logged in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorized"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-appKey"
          },
          "403": {
            "$ref": "#/components/responses/403-appKey"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/auth/renew": {
      "get": {
        "operationId": "authRenew",
        "tags": [
          "Account Management"
        ],
        "summary": "Renew a Client Authorization Token.",
        "description": "# Usage\n\nWhen the Clients Authorization Token is about to (or already has)\nreached its expiry time.  This call is made to provide a new token for\ncontinued use of the API without requiring account recover.  If the\ntoken has finally passed its \"refreshh by\" time, account recovery will\nbe required to generate a new fresh Token.\n\nCauses the Authorization token attached to the API call\nto be renewed, and a new token returned.",
        "parameters": [
          {
            "in": "query",
            "required": false,
            "name": "key",
            "schema": {
              "$ref": "#/components/schemas/ph2-bearer-token"
            },
            "description": "The applications API Key.  Must be the same application the client\nauthorized on or logged in with.  This prevents anyone in possession\nof the clients JWT Token, from renewing it without also having\naccess to a matching Application API Key."
          }
        ],
        "responses": {
          "200": {
            "description": "The message was accepted, and the token has been renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorized"
                }
              }
            }
          },
          "400": {
            "description": "General Request processing error.  Possible errors are:\n* `\"Internal Server Error.\"` - Fatal uncategorized error in server.\n* `\"Required Parameters missing or malformed.\"` - JSON Message Body Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Internal Server Error."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/auth/chgpwd": {
      "post": {
        "operationId": "changePassword",
        "tags": [
          "Account Management"
        ],
        "summary": "Change a Clients password.",
        "description": "# Usage\nCauses the Clients password to be changed.\n\n## Parameters\n  - **old**: The old password of the Client.  Must be Valid.\n  - **new**: The new password of the Client.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "old",
                  "new"
                ],
                "additionalProperties": false,
                "properties": {
                  "old": {
                    "$ref": "#/components/schemas/password"
                  },
                  "new": {
                    "$ref": "#/components/schemas/password"
                  }
                },
                "example": {
                  "old": "4n 0ld p455w0rd",
                  "new": "my n3w p455w0rd"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The password was changed OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorized"
                }
              }
            }
          },
          "400": {
            "description": "General Request processing error.  Possible errors are:\n* `\"Internal Server Error.\"` - Fatal uncategorized error in server.\n* `\"Required Parameters missing or malformed.\"` - JSON Message Body\nError.\n* `\"Insecure Password\"` - Password failed security strength check.\n* `\"Old Password doesn't match\"` - Old Password failed security check.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Internal Server Error."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/auth/chgemail": {
      "post": {
        "operationId": "changeEmail",
        "tags": [
          "Account Management"
        ],
        "summary": "Change a Clients Email Address.",
        "description": "# Usage\n\nCauses the Clients Email Address to be changed.\nWill also cause an email to be sent to both the\nold email address, advising the client it is being changed.\nAND, to the new email address to confirm the address is valid.\n\nThe Confirmation Email contains the callback as an embedded link which\nwill call back into the initiating application.\n\nThe URL passed as the callback must be able to accept three parameter in\nthe url of the form:\n```\ncallback.url/path?verify=<token>&pw=<false/true>&exp=<time>\n```\n - **verify** is the verification token to be sent back to the API server by\n    the app on the **/v1/auth/confirmcustomer** call.\n - **pwd** specifies that a confirmation password must be prompted from\n    the Client, and supplied to the API in the **/v1/auth/confirmcustomer**\n    call.\n - **exp** specifies when the verification token will expire.  Any call\n    to **/v1/auth/confirmcustomer**` after this time will fail.\n\n## Parameters\n  - **email**: The new email address to change to.\n  - **callback**: The complete URL, minus parameters, which is embedded in\n  the email sent to the customer to confirm their account creation. It\n  must point to the app which instigated this request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "callback"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "$ref": "#/components/schemas/email-address"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/url-callback"
                  }
                }
              },
              "example": {
                "email": "newemail@email.org",
                "callback": "https://www.myapp.url/callback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email change was initiated.  Confirmation Emails sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                },
                "example": {
                  "msg": "Emails sent to user, OK."
                }
              }
            }
          },
          "400": {
            "description": "The Email address is already in use by another Client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Email address already used by another account."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/auth/delcustomer": {
      "post": {
        "operationId": "deleteCustomer",
        "tags": [
          "Account Management"
        ],
        "summary": "Delete a Customer Account.",
        "description": "# Usage\nCauses an email to be sent to the customer requiring them\nto confirm they wish to mark the account for deletion.\n\nThe Email contains the callback as an embedded link which\nwill call back into the initiating application.\n\nThe URL passed as the callback must be able to accept three parameter in\nthe url of the form:\n```\ncallback.url/path?verify=<token>&pw=<false/true>&exp=<time>\n```\n - **verify** is the verification token to be sent back to the API server by\n    the app on the **/v1/auth/confirmcustomer** call.\n - **pwd** specifies that a confirmation password must be prompted from\n    the Client, and supplied to the API in the **/v1/auth/confirmcustomer**\n    call.\n - **exp** specifies when the verification token will expire.  Any call\n    to **/v1/auth/confirmcustomer**` after this time will fail.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "callback"
                ],
                "additionalProperties": false,
                "properties": {
                  "callback": {
                    "$ref": "#/components/schemas/url-callback"
                  }
                },
                "example": {
                  "callback": "https://www.myapp.url/callback"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation Email sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                },
                "example": {
                  "msg": "Email sent to user, OK."
                }
              }
            }
          },
          "400": {
            "description": "General Request processing error.  Possible errors are:\n* `\"Internal Server Error.\"` - Fatal uncategorized error in server.\n* `\"Required Parameters missing or malformed.\"` - JSON Message Body Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Internal Server Error."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/admin/chkemail": {
      "get": {
        "operationId": "chkEmail",
        "tags": [
          "Admin Management"
        ],
        "summary": "Check the given email address is valid.",
        "description": "# Usage\nCheck if the given email address is valid and supply basic information\nabout the account.",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "schema": {
              "$ref": "#/components/schemas/email-address"
            },
            "description": "The Email address to check.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "If the clients email address is valid, a 200 response will be\nreturned with basic information about the client.  IF the clients\nemail address is not a valid client, the response will be 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "first_name",
                    "last_name"
                  ],
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "description": "The Clients first name.  Null if not known.",
                      "example": "Karen",
                      "nullable": true
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The Clients last name. Null if not known.",
                      "example": "Jones",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "General Request processing error.  Possible errors are:\n* `\"Internal Server Error.\"` - Fatal uncategorized error in server.\n* `\"Required Parameters missing or malformed.\"` - JSON Message Body\nError.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nack"
                },
                "example": {
                  "error": "Internal Server Error."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/v1/client/notify": {
      "post": {
        "operationId": "clientNotify",
        "tags": [
          "Client Management"
        ],
        "summary": "Subscribe/Unsubscribe to notifications.",
        "description": "# Usage\nAllows the client to subscribe/unsubscribe web push notifications.\n\nPush notifications require the client to authorize the subscription.\nThe App is responsible for getting the clients authority with the\nrelevant service, and then passing the WebPush Client Token (AKA\n\"Registration Id\") to the Backend API.  Anytime the WebPush Client Token\nis renewed by the Client, this same call is made to update it.\n\n## Parameters\n  - **token**: the WebPush Client Token obtained when the client\n  consented to receiving notifications.\n  - **service**: the WebPush Service being employed by the clients\n  application.\n    - **\"FIREBASE\"** is used for Android and non-safari web push\n    notifications.\n    - **\"APNS-IOS\"** is used for IOS Apps.\n    - **\"APNS-WEB\"** is used for Safari Web Push notifications.\n  - **cancel**: Optional.  Set to True, to cancel notifications for the service.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "service"
                ],
                "additionalProperties": false,
                "properties": {
                  "token": {
                    "type": "string",
                    "format": "WebPush Client Token",
                    "pattern": "^[\\w]+$",
                    "minLength": 8,
                    "maxLength": 256,
                    "example": "f1R3Rk5uTiIvC1prMTr7ue:APA91bGPPasEn7wqi2ZnArJsXKlbk9OCZ6jweCsWVPXA",
                    "description": "The clients notification token for their service.  Also known as the\n\"Registration Id\"."
                  },
                  "service": {
                    "type": "string",
                    "format": "Notification",
                    "enum": [
                      "FIREBASE",
                      "APNS-IOS",
                      "APNS-WEB"
                    ],
                    "example": "FIREBASE",
                    "description": "The service the client token relates to."
                  },
                  "cancel": {
                    "type": "boolean",
                    "default": false,
                    "example": true,
                    "description": "IF true, the notifications attached to this token are canceled."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, Notification set.",
            "content": {
[...]
