###### HEADER INFO ##################
openapi: "3.0.2"
info:
  title: "Privacy Hero 2 - Mothership API"
  version: "0.0.1"
  description: |-
    The complete backend API for the Privacy Hero 2.

    The backend server infrastructure is known as the *"Mothership"*

    This API Documentation may be viewed at:
      - **[PrivacyHero2 API - RapiDoc/Pdf](https://stevenj.github.io/ph2-apidocs/)**
      - [PrivacyHero2 API - Swagger UI](https://stevenj.github.io/ph2-apidocs/index-swui.html)
      - [PrivacyHero2 API - Redocly](https://stevenj.github.io/ph2-apidocs/index-redocly.html)
      - [Download API JSON](https://stevenj.github.io/ph2-apidocs/API/PHMothership.openapi.yml)

  license:
    name: Copyright © 2020 HelpOn Inc. All Rights Reserved
  contact:
    name: API Support
    url: http://www.example.com/support
    email: support@example.com

###### THE SERVERS WHERE THIS API CAN BE USED ############
servers:
  - url: https://privacyhero2.api.com/{stage}/ # what is our URL???
    description: What is our actual base URL??
    variables:
      stage:
        enum:
          - dev
          - qa
          - prod
        default: prod
        description: Deployment Stages

#########################################################
# Components are preformatted data that can be reused in definitions.
components:
  # All Schemas are defined in  PHMothership.components.openapi.yml
  schemas: {}

  securitySchemes:
    clientToken:
      type: http
      scheme: bearer
      bearerFormat: "Custom"
      description: Client Auth Token as generated by this API

    appToken:
      type: http
      scheme: bearer
      bearerFormat: "Custom"
      description: |-
        App Auth Token as distributed to the APP Developers. Each app
        has a unique App Auth Token.

security:
  - appToken: []

paths:
  /v1/auth/newcustomer: # Causes a new customer email to be sent
    $ref: "v1/auth/newcustomer.yml#/paths/~1auth~1newcustomer"

  /{callbackpath}: # Called when the customer clicks the link in the new customer email.
    $ref: "v1/auth/emailcallback.yml#/paths/~1{callbackpath}"

  /v1/auth/confirmcustomer:
    $ref: "v1/auth/confirmcustomer.yml#/paths/~1auth~1confirmcustomer"

  /v1/auth/login: # Logs in with a password
    $ref: "v1/auth/login.yml#/paths/~1auth~1login"

  /v1/auth/renew: # Renews an expired token, which is still in time for renewal
    $ref: "v1/auth/renew.yml#/paths/~1auth~1renew"

  /v1/auth/chgpwd: # Change the users password
    $ref: "v1/auth/chgpwd.yml#/paths/~1auth~1chgpwd"

  /v1/auth/chgemail: # change the users email address
    $ref: "v1/auth/chgemail.yml#/paths/~1auth~1chgemail"

  /v1/auth/delcustomer: # delete the customer
    $ref: "v1/auth/delcustomer.yml#/paths/~1auth~1delcustomer"
