###### HEADER INFO ##################
openapi: "3.0.2"
info:
  title: "Privacy Hero 2 - Mothership API"
  version: "0.0.4"
  description: |-
    The complete backend API for the Privacy Hero 2.

    The backend server infrastructure is known as the *"Mothership"*

    This API Documentation may be viewed at:
      - **[PrivacyHero2 API - RapiDoc/Pdf](https://privacy-hero.github.io/ph2-apidocs/)**
      - [PrivacyHero2 API - Swagger UI](https://privacy-hero.github.io/ph2-apidocs/index-swui.html)
      - [PrivacyHero2 API - Redocly](https://privacy-hero.github.io/ph2-apidocs/index-redocly.html)
      - [Download API JSON](https://privacy-hero.github.io/ph2-apidocs/API/PHMothership.openapi.yml)

  license:
    name: Copyright © 2020 HelpOn Inc. All Rights Reserved
    url: ./LICENSE.md
  contact:
    name: API Support
    url: http://www.example.com/support
    email: support@example.com

###### THE SERVERS WHERE THIS API CAN BE USED ############
servers:
  - url: https://api2.privacyhero.com/{stage} # what is our URL???
    description: The API deployment URL.
    variables:
      stage:
        enum:
          - dev
          - qa
          - prod
        default: prod
        description: Deployment Stages
  - url: https://{awsid}.execute-api.us-east-1.amazonaws.com/dev
    description: Development URL
    variables:
      awsid:
        default: "999999"
        description: The ID for your dev AWS deployment

#########################################################
# Components are preformatted data that can be reused in definitions.
components:
  # All Schemas are defined in ./inc/components.yml
  schemas: {}

  securitySchemes:
    clientToken:
      type: http
      scheme: bearer
      bearerFormat: "Custom"
      description: Client Auth Token as generated by this API

    appKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: |-
        Application Unique API Key, as distributed to the APP Developers. Each app
        has a unique API Key.  It only needs to be included in messages that
        require it.

tags:
  - name: Account Management
    description: Operations related to Account Creation and Management
  - name: Adapter Management
    description: Operations related to Adapter Management

paths:

  ######### AUTHORIZATION API CALLS #########################

  /v1/auth/newcustomer: # Causes a new customer email to be sent
    $ref: "v1/auth/newcustomer.oas3.yml#/paths/~1auth~1newcustomer"

  /{callbackpath}: # Called when the customer clicks the link in the new customer email.
    $ref: "v1/auth/emailcallback.oas3.yml#/paths/~1{callbackpath}"

  /v1/auth/confirmcustomer:
    $ref: "v1/auth/confirmcustomer.oas3.yml#/paths/~1auth~1confirmcustomer"

  /v1/auth/login: # Logs in with a password
    $ref: "v1/auth/login.oas3.yml#/paths/~1auth~1login"

  /v1/auth/renew: # Renews an expired token, which is still in time for renewal
    $ref: "v1/auth/renew.oas3.yml#/paths/~1auth~1renew"

  /v1/auth/chgpwd: # Change the users password
    $ref: "v1/auth/chgpwd.oas3.yml#/paths/~1auth~1chgpwd"

  /v1/auth/chgemail: # change the users email address
    $ref: "v1/auth/chgemail.oas3.yml#/paths/~1auth~1chgemail"

  /v1/auth/delcustomer: # delete the customer
    $ref: "v1/auth/delcustomer.oas3.yml#/paths/~1auth~1delcustomer"


  ######### ADAPTER  MANAGEMENT API CALLS ######################

  /v1/adapter/find:
    $ref: "v1/adapter/find.oas3.yml#/paths/~1adapter~1find"

  /v1/adapter/claim:
    $ref: "v1/adapter/claim.oas3.yml#/paths/~1adapter~1claim"

  /v1/adapter/name:
    $ref: "v1/adapter/name.oas3.yml#/paths/~1adapter~1name"

  /v1/adapter/list:
    $ref: "v1/adapter/list.oas3.yml#/paths/~1adapter~1list"

  ######### PROFILE  MANAGEMENT API CALLS ######################

  #/v1/profile/list:
  #  $ref: "v1/profile/list.oas3.yml#/paths/~1profile~1list"

  ######### DEVICE  MANAGEMENT API CALLS ######################

  #/v1/device/list:
  #  $ref: "v1/device/list.oas3.yml#/paths/~1device~1list"

  #/v1/device/assign:
  #  $ref: "v1/device/assign.oas3.yml#/paths/~1device~1assign"

